//variables

//colors
$primary-text-color: white;
$secondary-text-color: black;
$tertiary-text-color: grey;
$btn-color: black;
$btn-hover-color: grey; 

//font size

$h1-mobile-font-size: 1.625rem;
$h1-desktop-font-size: 2rem;

$h2-mobile-font-size: 1.25rem;
$h2-desktop-font-size: 1.625rem;

$p-mobile-font-size: 0.625rem;
$p-desktop-font-size: 0.75rem;

$input-mobile-font-size: 1.125rem;
$input-desktop-font-size: $input-mobile-font-size;

//letter-spacing

$h1-mobile-spacing: 0.05rem;
$h1-desktop-spacing: 0.08rem;


//line height


//margin

$mobile-margin: .5rem;
$desktop-margin: 1rem;

//padding
$mobile-padding: .05rem;
$desktop-padding: 1rem;

//border radius

$border: 5px;


